<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<hr>
<footer class="page-footer font-small pt-4 text-center">
    <div class="container-fluid text-center text-md-left">
      <div class="row justify-content-md-center">
        <div class="col-md-6 col-sm-12 col-xs-12 mt-md-0 mt-3">
          <h5 class="text-uppercase">About Us</h5>
          <p>Our product was made with a couple of goals in mind. We really thought making
          schedules was a lot of work. We wanted it to be easier. It is now easier. Maybe even fun.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        {{#if user}}
        <div class="col-md-4 col-sm-12 col-xs-12 mb-md-0 mb-3">
            <h5 class="text-uppercase">Useful Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="/scheduele/dashboard">Dashboard</a>
              </li>
              <li>
                <a href="/scheduele/build">Builder</a>
              </li>
            </ul>

          </div>
        {{else}}
        <div class="col-md-4 col-sm-12 col-xs-12 mb-md-0 mb-3">
            <h5 class="text-uppercase">Useful Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="/users/login">Login</a>
              </li>
              <li>
                <a href="/users/register">Register</a>
              </li>
              <li>
                <a href="/scheduele/dashboard">Dashboard</a>
              </li>
              <li>
                <a href="/scheduele/build">Builder</a>
              </li>
            </ul>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="/"> Timng</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</body>
</html>
