<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title></title>
</head>
<body>
<div class="hero">
  <div class="hero-text">
    <h2 class="display-2">Say it</h2>
    <p class="lead blockquote-footer">Time is money</p>
    <p class="lead">Schedule smarter</p>
  </div>
  <div class="hero-action">
    <a href="/user/signup"><button class="btn hero-btn">Be better</button></a>
  </div>
</div>
</body>
</html>
