<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title></title>
</head>
<body>
  <header class="masthead">
     <div class="container h-100">
       <div class="row h-100 align-items-center justify-content-center text-center">
         <div class="col-lg-10 align-self-end">
           <h1 class="display-2 text-uppercase text-white">Say it</h1>
           <hr class="divider my-4">
         </div>
         <div class="col-lg-8 align-self-baseline">
           <p class="lead blockquote-footer">Time is money</p>
           <p class="lead">Schedule smarter</p>
           <a class="btn btn-primary btn-xl" href="/users/register">Be Better</a>
         </div>
       </div>
     </div>
   </header>
  <div class="container landing-about ">
<div class="row justify-content-md-center">
    <div class="col mt-4 col-md-8 col-sm-12 col-xs-12 border ">
        <h2 class="lead">Managing employees doesn't need to be a headache</h2>
        <h3 class="mt-4">Employee extraordinaire</h3>
        <section class="page-section" id="services">
    <div class="container">
      <h4 class="text-center mt-0">Stop Searching</h4>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-gem text-primary mb-4"></i>
            <h3 class="h4 mb-2">Friendly UI</h3>
            <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
            <h3 class="h4 mb-2">Up to Date</h3>
            <p class="text-muted mb-0">All features are kept current to keep things fresh.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
            <h3 class="h4 mb-2">Ready to Share</h3>
            <p class="text-muted mb-0">Easily share within your orginization</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
            <h3 class="h4 mb-2">We're here for you</h3>
            <p class="text-muted mb-0">If you have any questions or comments, reach out! We'll get
            back to you the same day</p>
          </div>
        </div>
      </div>
    </div>
  </section>
        <img class="img-fluid" src="./images/env.png" alt="">
        <p>It easy! Create your account, then start building. Its free</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

  </div>
</div>
</body>
</html>
