.mt-max{
  margin-top: 5em;
}
.landing-about{
  min-height: 70vh;
}
.hero-btn{
  background: white;
}
.hero-action{
  align-self: center;
}
.hero-text{
  padding-top: 2em;
  padding-left: 3em;
  color: white;
}
.hero{
  height: 100vh;
  background-image: url('/images/time.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

}
.form-control{
  max-width: 200px;
}
/* //// */
.right-btn{
  display: inline-block;
}
.left-btn{
  display: inline-block;
}
.img-container>img{
  max-height: 100%;
}
.image-container{
height: 30vw;
}

li{
  list-style: none;
}

*{
  padding: 0;
  margin: 0;

}
