
.form-control{
  max-width: 200px;
}
/* //// */
.right-btn{
  display: inline-block;
}
.left-btn{
  display: inline-block;
}
.img-container>img{
  max-height: 100%;
}
.image-container{
height: 30vw;
}
li{
  list-style: none;
}

*{
  padding: 0;
  margin: 0;

}
