<!-- <body>
  <div class="container mt-max">
    {{#each errors}}
    <div class="alert alert-danger">
      <p>{{text}}</p>
    </div>
    {{/each}}
    <div class="row mt-5 sign-in-wrapper">
      <div class="col-sm-10 col-md-6 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body d-flex flex-column text-center">
            <h5 class="card-title text-center">Change password</h5>
            <form class="form-signin align-self-center" method="post" action="/users/updatepassword">
              <div class="form-label-group">
                <input type="password" name="current" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Current Password</label>
              </div>
              <div class="form-label-group">
                <input type="password" name="password1"class="form-control" placeholder="Password" required>
                <label for="inputPassword">New Password</label>
              </div>
              <div class="form-label-group">
                <input type="password" name="password2" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Confirm Password</label>
              </div>
              <button type="submit"class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-md-6 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body d-flex flex-column text-center">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin align-self-center" method="post" action="/users/updateemail">
              <div class="form-label-group">
                <input type="email" id="inputEmail" name="email" value="{{user.email}}"class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Current Email</label>
              </div>
              <div class="form-label-group">
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">New Email</label>
              </div>
              <div class="form-label-group">
                <input type="email" id="inputEmail" name="email"class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Confirm Email</label>
              </div>
              <button type="submit"class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> -->
